@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
  
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

em{
  font-weight: bold;
  font-style: normal;
}

body { 
  font: normal .8em arial, sans-serif;
  background: #C4E9E8 url(../images/back.png) repeat-x;
  color: #555;
}

#container {   
  position: static;
  height: 100%;
  margin-top: 0px;
  background: transparent url(../images/grass.png) repeat-x bottom;
}

#main{
  width: 55%;
  margin-left: 22%;  
  background-color: white;
  padding: 2%;
  border-radius: 10px;
}

#sun{
  float: left;
}

#logo{
  width: 100%;
}

nav{
  border-radius: 10px 10px 0px 0px;
  background-color: #53C7FD;
  height: 40px;  
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  font-size: 15px;  
}

nav > li{
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
  list-style: none;
}

nav a{
  text-decoration: none;
  color:  #FFF;  
}

nav a:hover{
  color: #E5017D;
}

nav ul{
  display: none;
  position: absolute;
  background-color: #53C7FD;
  padding: 0.7%;
}

nav ul li{
  padding-top: 3%;
  padding-bottom: 3%;
  list-style: none;
}

#Adopt:hover ul{
  display: block;
}

footer{
  border-radius: 0px 0px 10px 10px;
  height: 85px;
  background-color: #53C7FD;
  padding: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  font-size: 15px;  
}

footer div,a{
  color: white;
}

#first{
  margin-bottom: 2%;
  text-align: center;
}

#second{
  text-align: center;
}

#first a{
  padding-left: 0.5%;
  padding-right: 0.5%;
}

#first a:hover{
  color: #E5017D;
}

.a{
  border-right: solid 1px white;
}

@media only screen and (max-width:900px) {
  #sun {
    display: none;
  }

  #main {
    border-radius: 0px;
    width: 100%;
    margin: 0%;
  }

  nav {
    height: auto;
    border-radius: 10px;
  }

  nav>li {
    width: 100%;
    display: block;
    padding: 1.5%;
    text-align: center;
  }

  footer{
    height: fit-content;
  }

  #first{
    padding-left: 0px;
    text-align: center;
  }

  #first a{
    display: block;
    width: 100%;
    padding: 2%;
  }

  #second{
    padding-left: 0px;
    text-align: center;
  }
}

@media only screen and (max-width:1210px) {
  nav{
    font-size: 12.5px;
    font-weight: bold;
  }

  footer{
    font-size: 12.5px;
    font-weight: bold;
  }

  #first{
    text-align: center;
  }  
}




