main {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
}

ol {
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

article {
    width: 85%;
    text-align: justify;
    display: inline-flex;
    padding-right: 1.5%;
}

h1 {
    color: #E5017D;
}

#paragraph {
    width: 62%;
    line-height: 18px;
    padding-top: 2%;
}

#paragraph div {
    padding-top: 4%;
    padding-bottom: 4%;
}

#art {
    width: 10%;
    padding-top: 14%;
    padding-left: 4%;
}

#art img {
    border: solid 1px rgb(226, 223, 223);
    padding: 10%;
}

#aside {
    width: 30%;
    padding-left: 3%;
    padding-top: 0.5%;
}

aside {
    border-radius: 10px;
    line-height: 18px;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-top: 2%;
    margin-bottom: 7%;
    background-color: #F5FEFF;
    border: solid 1px rgb(226, 223, 223);
}

aside li {
    list-style: none;
}

aside h3 {
    font-size: 14px;
    color: rgb(140, 231, 3);
}

aside div {
    padding-top: 2%;
    padding-bottom: 2%;
}

aside a {
    font-size: 10px;
    color: #06affd;
}

@media only screen and (max-width:900px) {  
    main {
      display: block;
    }
  
    #art{
      display: none;
    }
  
    main p, ol {
      font-size: 12px;
    }
  
    article {
      width: 100%;
      display: block;
    }
  
    #aside {
      width: 60%;
      margin-left: 15%;
    }
  
    aside {
      width: 100%;
      padding: 3%;
      margin: 10%;
      font-size: 9px;
      text-align: center;
    }
  
    #paragraph {
      width: 100%;
    }
}

@media only screen and (max-width:1210px) {
    #art{
      display: none;
    }
  
    #paragraph{
      width: 100%;
    }
  
    aside{
      font-size: 9px;
    }
  }