main{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul{
    padding-left: 4%;
}

li{
    padding-bottom: 2%;
}

main > div{
    padding-bottom: 2%;
    width: 100%;
    display: flex;
    line-height: 20px;
    text-align: justify;
}

main > div > div{
    width: 50%;
    padding: 3%;
}

main > div > div > div{
   margin-top: 4%;
   margin-bottom: 4%;
}

main img{
    width: 100%;
    height: 100%;
}

table{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-collapse: collapse;
    border-spacing: 0px;
}

table td{
    border: solid 2px #53C7FD;
    padding: 1%;
    text-align: center;
}

table th{
    text-align: center;
    padding: 1%;
    border: solid 2px #53C7FD;
}

aside {
    border-radius: 10px;
    line-height: 18px;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-top: 2%;
    margin-bottom: 7%;
    background-color: #F5FEFF;
    border: solid 1px rgb(226, 223, 223);
}

aside li {
    list-style: none;
}

aside h3 {
    font-size: 14px;
    color: rgb(140, 231, 3);
}

aside div {
    padding-top: 2%;
    padding-bottom: 2%;
}

aside a {
    font-size: 10px;
    color: #06affd;
}

@media only screen and (max-width:900px){
    main{
        display: block;
    }

    main > div > div{
        width: 100%;
    }

    #img{
        display: none;
    }
}